@{
    ViewData["Title"] = "Erişim Engellendi";
}

<div class="alert alert-danger mt-lg-5">
    <h3>Erişim Engellendi</h3>
    <h6>Ulaşmaya Çalıştığınız Alan İçin Erişim Yetkiniz Bulunmamaktadır!</h6>
</div>

